.menu {
    margin-left: 100px;
}

.form{
    margin-left: 40px;
}

.button-add{
    
   
     margin-left: 150px;
    
}

.msg-fornecedor{
    color:green; 
    background-color: #c0f1d5; 
    border-radius: 5px;
}


.h2 {
    margin-left: 100px;
}

.btn-custom {
    margin-left: 10px;
    border-radius: 10px;
}

.principal-custom{
    margin-top: 100px;
}
