.menu {
    margin-left: 100px;
}

.form{
    margin-left: 40px;
}

.button-add{
    
   
     margin-left: 150px;
    
}

.msg-fornecedor{
    color:green; 
    background-color: #c0f1d5; 
    border-radius: 5px;
}


  